@import "tailwindcss";

.heroSection {
  padding: 50px 20px;
  background-image: url("../../../../public/Image/background.png");
}

.heroBanner {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}